root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.js]
indent_style = tab
indent_size = 2

# This is because npm would rewrite it to spaces anyway
[*.json]
indent_style = space
indent_size = 2
