{
  "username": "",
  "password": "",
  "orgId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
  "deviceId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
  "appConfigId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",

  "tokenKey": "xxxxxxxxxx",
  "tokenPassword": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "testPackId": 1111
}
